body{
    font-family: initial;
    letter-spacing: initial;
}
nav {
    background-color: lightblue;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration-line: underline;
}

a:visited{
    color: darkblue;
}

img{
   margin-left: 30px;
}

ul li {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-weight: bold;
}
div {
    display: grid;
    grid-template-columns: 0.7fr 2.5fr 1.5fr;
    grid-column-gap: 7px;
}

article {
    margin-top: 50px;
    border-left: 1px solid black; 
    padding-left: 10px;
} 

article ul {
    display: flex;
    justify-content: space-evenly;
}

article ul li:nth-child(2){
    margin-right: 230px;
}
article ul li:nth-child(3){
    margin-left: 150px;
}
h1{
    font-size: 250%;
    letter-spacing: 5px;
}
.anchors_page{
    display: block;
    padding: 0px;
    margin: 5px;
    border: 1px solid black;
    width: 20%;
    font-size: smaller;
}
h4{
    text-align: center;
}
.block {
    display: grid;
    grid-template-columns: 40% 60%;
    
}


.picture_development{
    display: block;
    grid-area: 1/1;
    border: 1px solid darkgray;
    padding: 5px;
    background-color: lightblue;
}
.information_development{
    display: block;
    grid-area: 1/2;
}
aside {
    margin-top: 50px;
}
aside h3{
    text-align: center;
}
aside img {
    margin-top: 50px;
}
